<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>    
    <add name="DBInformix" connectionString="Database=db_bioz;Host=172.16.5.160;Server=localhost;Service=1526;Protocol=olsoctcp;UID=informix;Password=AbmtyReg10;"/>
    <!--<add name="DBInformix" connectionString="Database=db_bioz;Host=192.168.20.204;Server=prueba;Service=1526;Protocol=olsoctcp;UID=informix;Password=AbmtyReg10;"/>-->
  </connectionStrings>

</configuration>